<!DOCTYPE html>
<html>
    <head>
        <title>Details</title>
    </head>
    <body>
        <header>Details Page</header>
        <p><%= book.isbn %></p>
        <p><%= book.description %></p>

    </body>
</html>
