<!DOCTYPE html>
  <html>
      <head>
        <title>book_app</title>
        <link rel="stylesheet" href="/styles/reset.css" />
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/layout.css" />
        <link rel="stylesheet" href="/styles/icons.css" />
        <link rel="stylesheet" href="/styles/modules.css" />
        <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display%7CIndie+Flower&display=swap" rel="stylesheet">
      </head>
      <body id = "newBody">
        <h1 id = "newTitle">The Book App</h1>
        <main id = "newMain">

          <form action='/searches' method='post'>
              <input type="text" name="search" placeholder="Enter a Title or Author" required>
            <fieldset>
              <label for="title">
                <span id = "searchTitle">Title</span>
                <input type="radio" name="search" value="title" required>
              </label>
            </fieldset>

            <fieldset>
              <label for="author">
                <span id = "searchAuthor">Author</span>
                <input type="radio" name="search" value="author" required>
              </label>
            </fieldset>
            <button type ="submit"> Search the Google Books Api</button>
          </form>
        </main>
      </body>
  </html>