#indexBody{
    text-align:center;
    margin: 0 auto;

};
#newBody{
    background-color:black;
    text-align:center;
    margin: 0 auto;
    border:1px solid red;
    text-align:center;
}
body{
    background: black;
    width:96opx;
    text-align:center;
}
