#top{
    border-radius: 25px;
    width: 700px;
    font-size:20px;
    margin: 20px auto;
    background-color:rgb(178,225,253);
    font-family:Indie Flower;
    font-weight:bold;
    padding:3px;
    box-shadow: 1em 0 .4em rgb(178,225,253);
    border: 10px groove rgb(88,117,167);

}

#main{
    background-color:	rgb(73,181,212);
    width: 500px;
    margin: 10px auto;
    font-size: 50px;
    box-shadow: 1em 0 1em rgb(140, 211, 252);
    border: 10px groove rgb(88,117,167);
    border-radius: 25px;
    padding: 10px;
}

span{
    font-size:50px;
}

#nav{
    display: flex;
    justify-content: space-evenly;

}
a{
    color: black;
}
a:hover{
    color: rgb(88,117,167);
}
#newMain{
    
    background-color: rgb(140, 211, 252);
    height:300px;
    border: 10px inset rgb(88,117,167);
    border-radius: 25px;
    display:flex;
    flex-direction: column;

    width:900px;
    margin: 0 auto;
    font-family:Indie Flower;
    font-weight:bold;
    padding-top:10px;
    box-shadow: 1em 0 3em rgb(140, 211, 252);
}

#newTitle{
    font-family:Indie Flower;
    font-weight:bold;
    font-size:50px;
    background-color: rgb(140, 211, 252);
    width:960px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    
    margin: 30px auto;
    margin-bottom:70px;
    padding:10px;
    border: 10px inset rgb(88,117,167);
    border-radius: 25px;
    box-shadow: 1em 0 3em rgb(140, 211, 252);

}
button{
    border-radius:25px;
}

form > input{
    border: 5px inset rgb(88,117,167);
    border-radius:25px;
    background-color: rgb(140, 211, 252);
    color:black;
    padding:2px;
    padding-left:4px;
    font-size:30px;
    font-weight:bold;
    
}
